/*
*  CSS TABLE OF CONTENTS
*
*  1.0 - Resets
*  2.0 - Fonts
*  3.0 - Menu
*    3.1 - Black menu
*    3.2 - Main menu
*  4.0 - Main
*    4.1 - Cover
*    4.2 - Latest News
*    4.3 - Deals
*    4.4 - Topics
*    4.5 - Ads-deals
*  5.0 - Footer
*/
/*** 2.0 - Resets ***/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*** 2.0 - Fonts ***/
@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Avalon;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
body{
  font-family: 'ARS Maquette', sans-serif;
}
/*** 3.0 - Menu ***/
.tnw-logo {
  display: none;
}

nav {
  display: block;
  margin-top: 0;
}

/*** 3.1 - Black Menu ***/
.black-menu {
  align-items: center;
  font-family: "ARS Maquette", sans-serif;
  width: 100vw;
  height: 2em;
  background-color: #000;
  display: flex;
}

.black-menu li {
  margin-left: 5px;
  margin-right: 5px;
}

.black-menu a {
  color: hsla(0, 0%, 100%, .6);
  text-decoration: none;
  font-size: 0.825em;
}

#first-item {
  margin-left: 20px;
  color: #fff;
}

.corporate-menu {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

/*** 3.2 - Main Menu ***/
.main-menu {
  display: flex;
  height: 48px;
  width: 100vw;
  font-family: "Shentox", sans-serif;
  font-weight: 500;
  color: #aaa;
}

.menu {
  display: flex;
}

.main-menu li {
  padding: 18px 12px 0 12px;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.main-menu li:first-child {
  padding: 18px 12px 0 20px;
  font-size: 14px;
  letter-spacing: .04em;
}

.right-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #545454;
  font-size: 12px;
}

#tnw-logo {
  height: 48px;
}

.search-button {
  border-left: 1px solid #aaa;
  padding: 16px;
}

.right-menu button {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  background-color: #00cccc;
  line-height: 28px;
  border: 0;
  font-size: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-menu button:hover {
  background-color: #90c;
}

/*** 4.0 - Main ***/
/*** 4.1 - Cover ***/
.cover {
  margin: 0.5%;
  display: grid;
  height: 60vh;
  max-height: 560px;
  width: 99%;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: " large-left-box  small-right-box-1"
    " large-left-box  small-right-box-2";
  font-family: "Avalon", sans-serif;
  font-size: 2em;
}

.large-left-box {
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/sarah-friar-talk-gq-796x417.png
  );
  position: relative;
  background-position: center;
  background-size: cover;
  grid-area: large-left-box;
}

.small-right-box-1 {
  position: relative;
  grid-area: small-right-box-1;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/tnw2020-feature_img-01.jpg
  );
  background-size: cover;
}

.small-right-box-2 {
  position: relative;
  background-size: cover;
  grid-area: small-right-box-2;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_2207d3f7-796x419.png
  );
}

.logo img {
  width: 400px;
  position: absolute;
  margin: 15px 15px 15px 20px;
}

.headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7049019436876314) 36%, rgba(246, 74, 24, 0.7021008232394521) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.small-right-box-1 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.small-right-box-2 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.date {
  color: #fff;
  margin: 10px;
  font-size: 0.5em;
  font-family: 'ARS Maquette', sans-serif;
  z-index: 9999;
  position: absolute;
  top: 4px;
  right: 4px;
}

.headline {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  color: #fff;
}

.headline h2 {
  font-size: 2em;
  margin-left: 5px;
}

.headline h1 {
  font-size: 1.5em;
  margin-left: 7px;
}

.under-text {
  color: white;
  font-size: 0.5em;
  margin-left: 10px
}

.small-right-box-1 .headline {
  font-size: 0.75em;
}

.small-right-box-2 .headline {
  font-size: 0.75em;
}

/*** 4.2 - Latest News ***/
.latest-news {
  padding: 1.5em 1em 1.5em 1em;
  max-width: 1192px;
  margin: 0 auto;
}

.latest-flex {
  display: flex;
  flex-flow: row wrap;
}

.section-heading {
  font-family: 'Avalon', sans-serif;
  color: #f42;
  text-decoration: none;
}

.section-heading h2 {
  padding: 12px;
}

.news {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.story-image img {
  width: 100vw;
  object-fit: cover;
  height: 135px;
}

.story-title-link {
  font-family: 'ARS Maquette', sans-serif;
  font-weight: 700;
  line-height: 1em;
  color: #000;
  text-decoration: none;
}

.story-sub li {
  font-family: 'ARS Maquette', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  display: inline;
  color: #aaa;
}

.story-author::after {
  content: ' \B7';
  margin: 4px
}

/*** 4.3 - Deals ***/
.deals {
  padding: 1.5em 1em 1.5em 1em;
  max-width: 1192px;
  margin: 0 auto;
}

.deals-right {
  float: right;
  font-family: 'ARS Maquette', sans-serif;
  text-decoration: none;
  color: #ff4422;
  padding-top: 4px;
  padding-bottom: 4px;
}

.deals-right::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

#deals-heading {
  display: inline;
  font-family: 'ARS Maquette', sans-serif;
  color: #ff4422;
  font-weight: 700;
}

#heading-link {
  text-decoration: none;
}

.deals-container {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.deal-header-link {
  position: relative;
  text-decoration: none;

}

.deal {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.deal-story {
  display: block;
  min-height: 60px;
  max-width: 100%;
}

.deal-header-image {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px;
  top: 15px;
  left: 0;
  max-width: 60px;
  z-index: 10;
}

.deal-heading {
  background: #f42;
  padding: 10px 16px 10px 84px;
  font-family: 'Avalon', sans-serif;
  color :#fff;
}

.deal-funding {
  background-color: #feeae6;
  padding: 10px 16px 10px 84px;
  font-family: 'Avalon', sans-serif;
  color:#000;
}

.medical-tags {
  font-family: 'ARS Maquette', sans-serif;
  height: 70px;
  display: block;
  margin-top: 0;
  background: #fffaf8;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 68, 34, .25);
}

.medical-tags li {
  margin-left: 20px;
  line-height: 30px;
}

.box-story {
  height: 100px;
  display: block;
  padding: 10px;
  background: #fffaf8;
  color:#555;
  margin-bottom: 30px;
  line-height: 20px;
  font-size: 12px;
  font-family: "ARS Maquette", sans-serif;
}

/* *    4.4 - Topics */
.topics {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;

}
.section-wrapper{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.topic-section{
  flex-basis: 33.33333%;
  max-width: 33.3333%;
  padding: 12px;
  }
.topic-title{
  font-family: 'Avalon', sans-serif;
  color: #ff4422;
  font-size: 1.5em;
}
#topic1{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-368x276.jpg");
  background-size: cover;
  height: 276px;
}
#topic2{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic3{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic4{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic5{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic6{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic7{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic8{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic9{
  background-image:url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

.topic-header{
  box-sizing: content-box;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.19789922805059523) 100%);
  height: 110px;
  padding: 166px 10px 0 10px;
  color: #fff;
  vertical-align: bottom;
}
.topic-header h5{
  font-family: 'Shentox', sans-serif;
}
.topic-header h3{
  font-weight: 700;
}

.recent-topic{
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  background: rgba(255,68,34,.06);
}

.recent-header{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.recent-image{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 96px;
}
.recent-image img{
  height: 100%;
  object-fit: cover;
}
.topic-list{
  border-bottom: 1px solid #eee;
  color:#f42;
}
/*** 5.0 - Footer ***/
