/*
*  CSS TABLE OF CONTENTS
*
*  1.0 - Resets
*  2.0 - Fonts
*  3.0 - Menu
*    3.1 - Black menu
*    3.2 - Main menu
*  4.0 - Main
*    4.1 - Cover
*    4.2 - Latest News
*    4.3 - Deals
*    4.4 - Topics
*    4.5 - Ads-deals
*  5.0 - Footer
*/
/*** 2.0 - Resets ***/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*** 2.0 - Fonts ***/
@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Avalon;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Shentox;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/shentox-medium.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/shentox-medium.woff2") format("woff2"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/shentox-medium.woff") format("woff"), url("") format("truetype");
  font-style: normal;
  font-weight: 500;
}

/*** 3.0 - Menu ***/
.tnw-logo {
  display: none;
}

nav {
  display: block;
  margin-top: 0;
}

/*** 3.1 - Black Menu ***/
.black-menu {
  align-items: center;
  font-family: "ARS Maquette";
  width: 100vw;
  height: 2em;
  background-color: #000;
  display: flex;
}

.black-menu li {
  margin-left: 5px;
  margin-right: 5px;
}

.black-menu a {
  color: hsla(0, 0%, 100%, .6);
  text-decoration: none;
  font-size: 0.825em;
}

#first-item {
  margin-left: 20px;
  color: #fff;
}

.corporate-menu {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

/*** 3.2 - Main Menu ***/
.main-menu {
  display: flex;
  height: 48px;
  width: 100vw;
  font-family: "Shentox";
  font-weight: 500;
  color: #aaa;
}

.menu {
  display: flex;
}

.main-menu li {
  padding: 18px 12px 0 12px;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.main-menu li:first-child {
  padding: 18px 12px 0 20px;
  font-size: 14px;
  letter-spacing: .04em;
}

.right-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #545454;
  font-size: 12px;
}

#tnw-logo {
  height: 48px;
}

.search-button {
  border-left: 1px solid #aaa;
  padding: 16px;
}

.right-menu button {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  background-color: #00cccc;
  line-height: 28px;
  border: 0;
  font-size: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-menu button:hover {
  background-color: #90c;
}

/*** 4.0 - Main ***/
/*** 4.1 - Cover ***/
.cover {
  margin: 0.5%;
  display: grid;
  height: 60vh;
  max-height: 560px;
  width: 99%;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: " large-left-box  small-right-box-1"
    " large-left-box  small-right-box-2";
  font-family: "Avalon";
  font-size: 2em;
}

.large-left-box {
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/sarah-friar-talk-gq-796x417.png
);
  position: relative;
  background-position: center;
  background-size: cover;
  grid-area: large-left-box;
}

.small-right-box-1 {
  position: relative;
  grid-area: small-right-box-1;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/tnw2020-feature_img-01.jpg
);
  background-size: cover;
}

.small-right-box-2 {
  position: relative;
  background-size: cover;
  grid-area: small-right-box-2;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_2207d3f7-796x419.png
);
}

.logo img {
  width: 400px;
  position: absolute;
  margin-left: 20px;
  margin: 15px;
}

.headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7049019436876314) 36%, rgba(246, 74, 24, 0.7021008232394521) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
}

.small-right-box-1 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
}

.small-right-box-2 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
}

.date {
  color: #fff;
  margin: 10px;
  font-size: 0.5em;
  font-family: 'ARS Maquette';
  z-index: 9999;
  position: absolute;
  top: 4px;
  right: 4px;
}

.headline {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  color: #fff;
}

.headline h2 {
  font-size: 2em;
  margin-left: 5px;
}

.headline h1 {
  font-size: 1.5em;
  margin-left: 7px;
}

.under-text {
  color: white;
  font-size: 0.5em;
  margin-left: 10px
}

.small-right-box-1 .headline {
  font-size: 0.75em;
}

.small-right-box-2 .headline {
  font-size: 0.75em;
}

/*** 4.2 - Latest News ***/
.latest-news {
  padding: 1.5em 1em 1.5em 1em;
  max-width: 1192px;
  margin: 0 auto;
}

.latest-flex {
  display: flex;
  flex-flow: row wrap;
}

.section-heading {
  font-family: 'Avalon';
  color: #f42;
  text-decoration: none;
}

.section-heading h2 {
  padding: 12px;
}

.news {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.story-image img {
  width: 100vw;
  object-fit: cover;
  height: 135px;
}

.story-title-link {
  font-family: 'ARS Maquette';
  font-weight: 700;
  line-height: 1em;
  color: #000;
  text-decoration: none;
}

.story-sub li {
  font-family: 'ARS Maquette';
  font-weight: 400;
  font-size: 0.75em;
  display: inline;
  color: #aaa;
}

.story-author::after {
  content: ' \B7';
  margin: 4px
}

/*** 4.3 - Deals ***/
.deals {
  padding: 1.5em 1em 1.5em 1em;
  max-width: 1192px;
  margin: 0 auto;
}

.deals-right {
  float: right;
  font-family: 'ARS Maquette';
  text-decoration: none;
  color: #ff4422;
  padding-top: 4px;
  padding-bottom: 4px;
}

.deals-right::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

#deals-heading {
  display: inline;
  font-family: 'ARS Maquette';
  color: #ff4422;
  font-weight: 700;
}

#heading-link {
  text-decoration: none;
}

.deals-container {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}
.deal-header-link{
  position: absolute;
}
.deal {
  height: 200px;
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;

}
.deal-story {
  display: block;
  min-height: 60px;
  max-width: 100%;
}
.deal-header-image{
  width: 60px;
  height: 60px;
  position: absolute;
  margin:10.6666666667px;

}
.deal-heading {
  background: #f42;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
}
.deal-funding{
  background-color: #feeae6;
  padding: 10.6666666667px 16px 10.6666666667px 84px;

}
/*** 5.0 - Footer ***/
