/*
*  CSS TABLE OF CONTENTS
*
*  1.0 - Resets
*  2.0 - Fonts
*  3.0 - Menu
*    3.1 - Black menu
*    3.2 - Main menu
*  4.0 - Main
*    4.1 - Cover
*    4.2 - Latest News
*    4.3 - Deals
*    4.4 - Topics
*    4.5 - Ads-deals
*  5.0 - Footer
*/

/*** 1.0 - Resets ***/

html {
  box-sizing: border-box;
  font-size: 18px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*** 2.0 - Fonts ***/
@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ARS Maquette;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/ars-maquette-bold-alt.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Avalon;
  src: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.eot#iefix") format("embedded-opentype"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.woff") format("woff"), url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/fonts/avalon-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'ARS Maquette', sans-serif;
}

/*** 3.0 - Menu ***/
.tnw-logo {
  display: none;
}

nav {
  display: grid;
  margin-top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
}

/*** 3.1 - Black Menu ***/
.black-menu {
  align-items: center;
  font-family: "ARS Maquette", sans-serif;
  width: 100vw;
  height: 2rem;
  background-color: #000;
  display: flex;
}

.black-menu li {
  margin-left: 5px;
  margin-right: 5px;
}

.black-menu a {
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  font-size: 0.825rem;
}

#first-item {
  margin-left: 20px;
  color: #fff;
}

#tnw-logo{
  display: none;
}

.corporate-menu {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

/*** 3.2 - Main Menu ***/
.main-menu {
  display: flex;
  height: 48px;
  width: 100vw;
  font-family: "Shentox", sans-serif;
  font-weight: 500;
  color: #aaa;
}

.menu {
  display: flex;
}

.main-menu li {
  padding: 18px 12px 0 12px;
  font-size: 14px;
  letter-spacing: 0.04rem;
}

.right-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #545454;
  font-size: 12px;
}

.mobile-menu {
  display: none;
}

.search-button {
  border-left: 1px solid #aaa;
  padding: 16px;
}

.right-menu button {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  background-color: #0cc;
  line-height: 28px;
  border: 0;
  font-size: 11px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-menu button:hover {
  background-color: #90c;
}

/*** 4.0 - Main ***/

/*** 4.1 - Cover ***/
.cover {
  margin: 0.5%;
  display: grid;
  height: 60vh;
  max-height: 560px;
  width: 99%;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    " large-left-box  small-right-box-1"
    " large-left-box  small-right-box-2";
  font-family: "Avalon", sans-serif;
  font-size: 2rem;
}

.large-left-box {
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/sarah-friar-talk-gq-796x417.png);
  position: relative;
  background-position: center;
  background-size: cover;
  grid-area: large-left-box;
}

.small-right-box-1 {
  position: relative;
  grid-area: small-right-box-1;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/tnw2020-feature_img-01.jpg);
  background-size: cover;
}

.small-right-box-2 {
  position: relative;
  background-size: cover;
  grid-area: small-right-box-2;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_2207d3f7-796x419.png);
}

.logo img {
  width: 25rem;
  position: absolute;
  margin: 15px 15px 15px 20px;
}

.headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7049019436876314) 36%, rgba(246, 74, 24, 0.7021008232394521) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.small-right-box-1 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.small-right-box-2 .headline-link {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 38%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.date {
  color: #fff;
  margin: 10px;
  font-size: 0.75rem;
  font-family: 'ARS Maquette', sans-serif;
  z-index: 9999;
  position: absolute;
  top: 4px;
  right: 4px;
}

.headline {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  color: #fff;
}

.headline h2 {
  font-size: 1.5rem;
  margin-left: 5px;
}

.headline h1 {
  font-size: 3rem;
  margin-left: 7px;
}

.under-text {
  color: white;
  font-size: 0.75rem;
  margin-left: 10px;
}

.small-right-box-1 .headline h1{
  font-size: 1.5rem;
}

.small-right-box-2 .headline h1{
  font-size: 1.5rem;
}

/*** 4.2 - Latest News ***/
.latest-news {
  padding: 1.5rem 1rem 1.5rem 1rem;
  max-width: 1192px;
  margin: 0 auto;
}

.latest-flex {
  display: flex;
  flex-flow: row wrap;
}

.section-heading {
  font-family: 'Avalon', sans-serif;
  color: #f42;
  text-decoration: none;
}

.section-heading h2 {
  padding: 12px;
}

.news {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.story-image img {
  width: 100vw;
  object-fit: cover;
  height: 135px;
}

.story-sub li {
  font-family: 'ARS Maquette', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
  color: #aaa;
}

.story-title-link {
  font-family: 'ARS Maquette', sans-serif;
  font-weight: 700;
  line-height: 1rem;
  color: #000;
  text-decoration: none;
}

#first-menu-item {
  padding: 18px 12px 0 20px;
  font-size: 14px;
  letter-spacing: 0.04rem;
}

.story-author::after {
  content: ' \B7';
  margin: 4px;
}

/*** 4.3 - Deals ***/
.deals {
  padding: 1.5rem 1rem 1.5rem 1rem;
  max-width: 1192px;
  margin: 0 auto;
}

.deals-right {
  float: right;
  font-family: 'ARS Maquette', sans-serif;
  text-decoration: none;
  color: #f42;
  padding-top: 4px;
  padding-bottom: 4px;
}

.deals-right::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

#deals-heading {
  display: inline;
  font-family: 'ARS Maquette', sans-serif;
  color: #f42;
  font-weight: 700;
}

#heading-link {
  text-decoration: none;
}

.deals-container {
  justify-content: center;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.deal-header-link {
  position: relative;
  text-decoration: none;
}

.deal {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.deal-story {
  display: block;
  min-height: 60px;
  max-width: 100%;
}

.deal-header-image {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px;
  top: 15px;
  left: 0;
  max-width: 60px;
  z-index: 10;
}

.deal-heading {
  background: #f42;
  padding: 10px 16px 10px 84px;
  font-family: 'Avalon', sans-serif;
  color: #fff;
}

.deal-funding {
  background-color: #feeae6;
  padding: 10px 16px 10px 84px;
  font-family: 'Avalon', sans-serif;
  color: #000;
}

.medical-tags {
  font-family: 'ARS Maquette', sans-serif;
  height: 70px;
  display: block;
  margin-top: 0;
  background: #fffaf8;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
}

.medical-tags li {
  margin-left: 20px;
  line-height: 30px;
}

.box-story {
  height: 100px;
  display: block;
  padding: 10px;
  background: #fffaf8;
  color: #555;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: "ARS Maquette", sans-serif;
}

/*** 4.4 - Topics ***/
.topics {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.topic-section {
  flex-basis: 33.33333%;
  max-width: 33.3333%;
  padding: 12px;
}

.topic-title {
  font-family: 'Avalon', sans-serif;
  color: #f42;
  font-size: 1.5rem;
}

#topic1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-368x276.jpg");
  background-size: cover;
  height: 276px;
}

#topic2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

#topic9 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/Snag_26806cef-368x276.png");
  background-size: cover;
  height: 276px;
}

.topic-header {
  box-sizing: content-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.19789922805059523) 100%);
  height: 110px;
  padding: 166px 10px 0 10px;
  color: #fff;
  vertical-align: bottom;
}

.topic-header h5 {
  font-family: 'Shentox', sans-serif;
}

.topic-header h3 {
  font-weight: 700;
}

.recent-topic {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  background: rgba(255, 68, 34, 0.06);
}

.recent-header {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: #f32;
  font-weight: 700;
}

.recent-image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 96px;
}

.recent-image img {
  object-fit: cover;
  height: 96px;
  width: 96px;
  background-position: 50%;
}

.topic-list {
  border-bottom: 1px solid #eee;
  color: #595959;
  padding: 6px 0 6px 14px;
  line-height: 1.5;
  font-size: 13px;
}

.topic-list::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

/*** 4.5 - Ads-deals ***/

.ads-deals {
  padding: 1.5rem 1rem 1.5rem 1rem;
  max-width: 1192px;
  margin: 0 auto;
}

.ads-deals-header {
  align-items: center;
  display: flex;
  color: #f42;
  justify-content: space-between;
  padding-right: 12px;
}

.ads-deals-header a {
  text-decoration: none;
  color: #f42;
}

.latest-deals-box {
  display: grid;
  margin-top: 20px;
  max-width: 1192px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 12px;
}

.img-details {
  margin-bottom: 10px;
  font-size: 1rem;
}

.img-details a {
  color: #000;
  text-decoration: none;
  padding-bottom: 30px;
}

.img-details :hover {
  color: #f42;
}

.span-1 {
  color: #aaa;
  padding: 0 4px 0 0;
  text-decoration: line-through;
}

.span-2 {
  color: #aaa;
}

/*** 5.0 - Footer ***/
.social-menu {
  background: #131313;
  text-align: center;
}

.social-links {
  padding-top: 50px;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.social-links li {
  border: 2px solid #333;
  box-sizing: border-box;
  border-radius: 50%;
  background: #333;
  padding: 10px;
  margin: 10px;
  display: inline;
}

.footer-menu li {
  display: inline;
  margin: 5px;
}

.social-links li:hover {
  background: #000;
}

.footer-menu {
  margin-top: 30px;
  padding-bottom: 20px;
}

.footer-menu a {
  font-size: 0.75rem;
  font-family: 'Shentox', sans-serif;
  text-decoration: none;
  color: #aaa;
}

.legal {
  padding: 40px;
  width: 100%;
  background: #000;
  text-align: center;
  color: #fff;
  font-size: 0.825rem;
}

.legal img {
  height: 0.825rem;
}

/***
*
*MEDIA QUERIES
*
***/

@media screen and (max-width: 769px) {
  body {
    font-size: 14px;
  }

  .disappear {
    display: none;
  }

  .black-menu {
    display: none;
  }

  .tnw-logo{
    display: none;
  }

  #tnw-logo {
    display: block;
    height: 48px;
    width: 100px;
    padding: 16px;
    background: #000;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    color: #f42;
  }

  .headline h1{
    font-size: 1em;
  }

  .cover {
    max-height: 100vh;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "large-left-box" "small-right-box-1" "small-right-box-2";
  }

  .news {
    flex-basis: 100%;
    max-width: 100%;
  }

  .news-story {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 75px 1fr;
    grid-template-rows: . 1fr;
    grid-gap: 5px;
  }

  .story-image img {
    width: 75px;
    height:75px;
    object-fit: cover;
  }

  .story-title {
    flex-basis: 80%;
    max-width: 80%;
  }

  .story-image {
    grid-row:1/3;
    max-width: 75px;
  }

  .story-sub{
    grid-column: 2;
  }

  .deal {
    flex-basis: 100%;
    max-width: 100%;
  }

  .deals-right {
    display: block;
    float: none;
  }

  .deals-right::after {
    content: '';
  }

  .topic-section {
    flex-basis: 100%;
    max-width: 100%;
  }

  .latest-deals-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .ads-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
  }

  .ads-container img {
    grid-row: 1/3;
    margin-top: 3px;
  }

  .deals-price {
    grid-column-start: 2;
  }

  .img-details {
    margin: 0;
  }

  .social-links a {
    text-decoration: none;
    color: #fff;
  }

  .social-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

  }

  .social-links li{
    display:inline;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
  body {
    font-size: 16px;
  }

  .tnw-logo-visible{
    display: block !important;
    padding:16px;
    height: 48px;
    width: 100px;
    background: #000;
  }
  nav{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 2fr;
  }

  .black-menu{
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
  }
  .corporate-menu{
    margin-left: 0;
  }
  .main-menu{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .tnw-logo {
    display: block;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100px;
    padding: 40px 16px;
    background: #000;
  }

  .latest-news{
    padding: 10px;
  }

  .disappear {
    display: none;
  }

  .deals{
    padding: 10px;
  }
  .deal {
    padding: 10px;
    flex-basis: 33.333%;
    max-width: 33.3333%;
  }

  .news {
    flex-basis: 33.333%;
    max-width: 33.3333%;
    padding: 10px;
  }

  .topics{
    padding: 10px;
  }
  .topic-section {
    padding: 10px;
    flex-basis: 50%;
    max-width: 50%;
  }

  .ads-deals{
    padding:10px;
  }

  .latest-deals-box {
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
